<div class="landing-container">
		<div id="button-container">
			<%= link_to game_path(1) do %>
				<button class="startup-button">Insta-Who<span id="hb-caption">Demo version</span></button>			
			<% end %>
		</div>
</div>