<h1>Card#index</h1>
<p>Find me in app/views/card/index.html.erb</p>

<h1>Cards#index</h1>
<p>Find me in app/views/cards/index.html.erb</p>

<% if @cards %>
	<div id="cards_index_container">
		<% @cards.each do |card| %>
			<div class="card_thumbnail_container">
				<!-- Put card image here -->
				<h2>Card thumbnail goes here</h2>
			</div>
		<% end %>
	</div>
<% else %>
	<h2>This is where the cards would be indexed</h2>
<% end %> 