#card-container, #msg-wrapper {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 5000px;
	height: 95vh;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 80%;
}

#msg-wrapper {
	display: none;
}

#bottom-text {
	height: 2vh;
	left: 1vw;
	position: absolute;
	top: 47.93vw;
	width: 80%;
}


.one-card-container {
	-webkit-perspective: 5000px;
	border-radius: .279vw;
	border: .349vw black solid;
	float: left;
	height: 10.385vw;
	margin: .22016vw;
	padding: 0;
	position: relative;
	width: 10.692vw;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
  -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.instructions {
	display: block;
	left: 0;
	width: 100%;
}

.howto {
	width: 100%;
}

.warning {
	bottom: 20px;
	color: red;
}

#winner_name {
	color: white;
	font-size: 1.4677vw;
	left: 5%;
	position: absolute;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	top: 80%;
	z-index: 500;
}


.front, .back {
	backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	border-radius: 4px;
	height: 100%;
	left: 0;	
	position: absolute;
	top: 0;
	transform-style: preserve-3d;
		-webkit-transform: translate3d(0,0,0);
		-webkit-transform-style: preserve-3d;
	-webkit-perspective: 5000px;
	width: 100%;
	}

.card_names {
	bottom: 2px;
	color: white;
	font-size: 1.336vw;
	font-weight: bold;
	left: 2px;
	position: absolute;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.front {
	background: grey;
}


.back {
	background: url(question-mark3.png);
	background-size: 100% 97%;
	background-position: center center;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

#right-wrapper {
	height: 44.445vw;
	position: absolute;
	right: 6.2035vw;
	top: 10px;
	width: 19.8vw;
}

.selected, #winning_card {
	background: url(question-mark3.png);
	background-position: center center;
	background-size: 100% 100%;
	border-radius: 4px;
	border: 5px black solid;
	clear: both;
	height: 10.385vw;
	margin: .3669vw auto;
	width: 10.692vw;
}

#winning_card {
	position: relative;
}

#keywords {
	border: .14677vw black solid;
	height: 31.445vw;
	margin: .73387vw auto;
	overflow: auto;
	width: 90%;
}

#keywords h5 {
	float: left;
	text-decoration: underline;
	width: 100%;
}

.guesses {
	background: white;
	border-radius: 5px;
	border: black 1px solid;
	float: left;
	height: .699vw;
	width: .699vw;
}

.indent {
	margin-right: 1.4813vw;
}

#all-guesses {
	height: .8388vw;
	margin: 0 auto;
	padding: 0;
	width :10.692vw;
}

#you-win, #you-lose{
	background: white;
	display: none;
	height: 21.15632vw;
	left: 50%;
	margin: 11.94548vw auto;
	top: 11.04548vw;
	width: 21.82432vw;
	z-index: 300;
}

#you-win {
	border: .7338vw green solid;
	border-radius: 4px;
	color: green;
}

#you-lose {
	border: .7338vw red solid;
	border-radius: 4px;
	color: red;
}

#result-win, #result-lose {
	font-size: 3.6693vw;
	text-align: center;
}

#you-win .button_to, #you-lose .button_to {
	text-align: center;
}

#result-win {
	color: green;
}

#result-lose {
	color: red;
}

#keywords .button_to {
	float: left;
	margin-bottom: .3669vw;
	margin-right: .3669vw;
}

#keywords .button_to input{
	border-radius: .4vw;
  background: #B22222;
  color: white;
  font-size: .8806vw;
  font-weight: bold;
  padding: .4403vw;
}

#keywords .button_to input:disabled {
	background: lightgrey;
	color: grey;
}

#keywords .button_to input:hover {
	cursor: pointer;
}

#game-wrapper {
	margin-left: 4.8%;
}