$default-color: #000;
$unit: 16px;

.main-content-area{
	display: inline-block;
}

#nav-wrapper {
	height: 90vh;
	left: 0;
	margin-right: 20px;
	position: absolute;
	top: 0;
	width: 65px;
}

#nav-toggle-button{
	float: left;
	height: 60px;
	margin: 10px 15px 0px 0px;
	width: 60px;
}

#main-nav-container{
	background-color: white;
	background: white;
	border: 2px solid $default-color;
	display: inline-block;
	float: left;
	height: 18em;
	margin-right: 15px;
	position: absolute;
	top: 70px;
	width: 22%;
	z-index: 1000;

ul{
	list-style: none;
	margin-top: 2em;
}

li{
	font-size: $unit *2;
	padding: 4px 0 4px 2px;
}

a, a:hover, a:active, a:visited{
	color: $default-color;		
	text-decoration: none;
}

li:nth-child(even){
	background-color: #f2f2f2
}
}